.Cover_Bg{background-image:none;background-color:#ebebeb}
.Cover_Bg:before{background:0}
.FormOutterBoxWrap{padding:10px 0}
.ContentInnerWrap{background:0}
.formBoxWrap{width:98%;margin:15px}
.formBoxWrap li{padding:0 40px}
.formBoxWrap li.halfWrap{width:50%;float:left;padding:10px;box-sizing:border-box}
.formBoxWrap li label{width:20%;font-size:inherit;text-transform:none}
.formBoxWrap li .inputTypeTxt{width:50%}
.SurveyFormWrap{margin:0 15px;padding:15px 0;background-color:#fafbfc}
.SurveyFormWrap.formBoxWrap li{width:100%}
.formBoxWrap li.width_20{width:20%}
.formBoxWrap li.width_25{width:25%}
.formBoxWrap li.width_30{width:30%}
.formBoxWrap li.width_35{width:35%}
.formBoxWrap li.width_40{width:40%}
.formBoxWrap li.width_50{width:50%}
.formBoxWrap li.width_75{width:75%}
.SurveyFormWrap.formBoxWrap li:nth-child(2n+1){clear:none}
.SurveyFormWrap li>label{padding:15px 0}
.title_h4{width:auto;padding:10px;color:#fff;background-color:#2fb6af;margin:10px 0}
.title_h4:before{content:none}
.text_p1{font-size:inherit;padding-left:54px;color:inherit}
.text_p2{font-size:inherit}
.text_p3{width:100%;float:left;font-size:inherit;padding:10px;padding-left:54px;box-sizing:border-box;color:#f26419;margin-bottom:0}
@media only screen and (max-width:2400px) and (min-width:1000px){.container{max-width:100%}
}.formBoxWrap li .ansTypeTxt{border:1px solid #dadada;border-radius:5px;height:44px;padding:5px 10px;box-sizing:border-box;color:#666;width:100%;float:left;line-height:30px;background-color:#fafafc}
.FormOutterBoxWrap .semi-bold{font-weight:600}
.formBoxWrap .score{text-align:right;padding-right:0}
.formBoxWrap .scoreBold{font-weight:bold;font-size:18px}