
@media only screen and (min-width:300px) and (max-width:1400px)
{
	
}

@media only screen and (min-width:300px) and (max-width:1280px)
{
	/*.BasicDetailWrap{ width:50%;}*/
}

@media only screen and (min-width:300px) and (max-width:1100px)
{
	.OptionsWrap{ padding-right:5px;}
	.BasicDetailWrap{ width:450px;}
	.BasicDetailWrap li{ font-size:13px;}
	
	.formBoxWrap li{ width:50%;}
	.formBoxWrap li.halfWrap{ width:100%;}
}

@media only screen and (min-width:300px) and (max-width:1023px)
{
	#MainWrap{ padding-left:0px;}
	/*#MainWrap.active{ margin-left:250px;}*/
	/*.left_Nav_SideWrap{ left:-250px;}
	#MainWrap.active .left_Nav_SideWrap{ left:0px;}*/
	
	.BasicDetailWrap{ display:none;}
}

@media only screen and (min-width:300px) and (max-width:979px)
{
	
}

@media only screen and (min-width:300px) and (max-width:767px)
{
	
	/**********************************/
	.SurveyFormWrap.formBoxWrap li{ width:100%;}
}

@media only screen and (min-width:300px) and (max-width:639px)
{
	.OptionsWrap ul li{ display:none;}	
	.OptionsWrap ul li:first-child, .OptionsWrap ul li:last-child{ display:block;}
	/* .logoWrap{ width:100%;} */
	
	.FPSLogo{ position:relative; width: 100%; padding:30px;}
	.FPSLogo a{ top:0px;}
	.FPSLogo img{ margin-top:0px;}
	.loginForm{ width:100%; padding:20px;}
	
	.formBoxWrap li{ width:100%;}
}

@media only screen and (min-width:300px) and (max-width:479px)
{
	
}

@media only screen and (min-width:300px) and (max-width:359px)
{
	.OptionsWrap ul li{ padding: 0px; margin: 5px 1px;}
}



