*{ margin:0; padding:0; outline:none;}
body{ font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif,Arial;  font-size:14px; margin:0; padding:0; }

ul,ol, li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
a, a:hover{ text-decoration:none; outline:none;}
img{ border:0px; outline:none; }

.left{float:left !important;}
.right{float:right !important;}
.clr{ clear:both;}
