
.Cover_Bg { background-image: url(../cover.jpg); min-height: 100%; position: relative;   background-size: cover;    background-position: center; background-attachment: fixed;}
.Cover_Bg:before { position: fixed;  top: 0px;  left: 0px;  width: 100%;  height: 100%; content: ' ';
    background: linear-gradient(to bottom right, rgba(18, 187, 173, 0.9) 0%, rgba(79, 112, 206, 0.9) 100%);
	background: -webkit-linear-gradient(to bottom right, rgba(18, 187, 173, 0.9) 0%, rgba(79, 112, 206, 0.9) 100%);
}

.searcBar { background: #f4f4f4;   border-radius: 5px;  -webkit-border-radius: 5px;   padding: 15px; margin: 30px 0px; color:#333;}
.searcBar h4{ font-weight:500;}
.btn_SubmitWrap{ padding-top: 32px;}
.btn_SubmitWrap input[type="submit"]{ height: 39px; padding: 0px 20px;}
.search_btm{ border-bottom:1px solid #333;}
.search_btm { border-bottom: 1px solid #479bc5; margin-bottom: 20px; }


/* body, html { height: 100%; } */

.loginFormWrap{padding:100px 0px;}
.Cover_Bg .card-container.card { max-width: 350px;  padding: 40px 40px;}
.Cover_Bg .card { background-color: #f4f4f4; margin: 0 auto; border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.loginFormWrap h3{ font-weight:500; color:#333;}
.loginFormWrap input{ margin-top:10px;}
.loginFormWrap .checkbox{ margin-top:10px; line-height:30px; color:#555;}
.loginFormWrap .forgot-password{ padding:10px 0px; }
.loginFormWrap .btn{ font-size: 16px; }

.leftSideBar { background: #f4f4f4;   border-radius: 5px;  -webkit-border-radius: 5px;   padding: 15px; margin: 30px 0px; color:#333;}

.nav-tabs li {float: left; padding: 0px; margin-right: 3px;}
.nav-tabs li a { padding: 5px 15px; float: left; background: #e8e8e8; border-radius: 5px 5px 0px 0px; color: #aaa;}
.nav-tabs li a.active  {background: #fff; color: #007bff;}
.nav-tabs li:hover a {text-decoration: none;}

.equalizerBar { background: #020202;   border-radius: 5px;  -webkit-border-radius: 5px;   padding: 15px 30px; margin: 30px 0px 0px 0px; color:#333;}
.equalizerBar .equalizer{width: 100%; overflow: hidden; height: 100px;}



.progressBarRang { margin:0px 15px; width: calc(100% - 30px); box-sizing: border-box;  padding: 10px; display: inline-block; position: relative;	}
.progressBarRang input{ display:none\9!important; outline:none; }	
.progressBarRang input[type="range"] {-webkit-appearance: none; position: absolute; top: 16px; display: block; width:100%; height: 2px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background-color: #dddddd; left:0px; -webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6); -moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6); 	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6); }
.progressBarRang input::-webkit-slider-thumb {	-webkit-appearance: none; width: 14px;  height: 14px;  background: #fff;   border-radius: 50%;  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15); -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); z-index:3; position:relative;}

#audioSeekbar{ background: -webkit-linear-gradient(left, rgba(211, 3, 32, 1), rgba(211, 3, 32, 1)); background: linear-gradient(to right, rgba(211, 3, 32, 1), rgba(211, 3, 32, 1)); height:2px; display:inline-block; position:absolute; left:0px;	top:16px;}
.AudioClock{ position: absolute;  left: 0px;  width: 100%;  font-size: 13px;}
.AudioClock #time{ float:left;}	
.AudioClock #totalduration{ float:right;}	



.player__container { padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.19), 0 6px 6px -10px rgba(0, 0, 0, 0.23);
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.body__cover {
  position: relative;
}

.body__cover img {
  max-width: 100%;
  border-radius: 0.25rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body__buttons,
.body__info,
.player__footer {
  padding-right: 2rem;
  padding-left: 2rem;
}

.list--cover,
.list--footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list--header .list__link,
.list--footer .list__link {
  color: #888;
}

.list--cover {
  position: absolute;
  top: .5rem;
  width: 100%;
}
.list--cover li:first-of-type {
  margin-left: .75rem;
}
.list--cover li:last-of-type {
  margin-right: .75rem;
}
.list--cover a {
  font-size: 1.15rem;
  color: #fff;
}

.range {
  position: relative;
  top: -1.5rem;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.95);
  width: 80%;
  height: 0.125rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.range:before, .range:after {
  content: "";
  position: absolute;
  cursor: pointer;
}
.range:before {
  width: 3rem;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(211, 3, 32, 0.5), rgba(211, 3, 32, 0.85));
  background: linear-gradient(to right, rgba(211, 3, 32, 0.5), rgba(211, 3, 32, 0.85));
  border-radius: 0.25rem;
  overflow: hidden;
}
.range:after {
  top: -0.375rem;
  left: 3rem;
  z-index: 3;
  width: 0.875rem;
  height: 0.875rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.range:focus:after, .range:hover:after {
  background: rgba(211, 3, 32, 0.95);
}

.body__info {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.info__album,
.info__song {
  margin-bottom: .5rem;
}

.info__artist,
.info__album {
  font-size: .75rem;
  font-weight: 300;
  color: #666;
}

.info__song {
  font-size: 1.15rem;
  font-weight: 400;
  color: #d30320;
}

.body__buttons { width: 100%;  float: left; height:80px;}
.body__buttons > ul { width: 218px; margin:0 auto;}
.body__buttons > ul li{ display:inline-block;}

.list--buttons li:nth-of-type(n+2) {  margin-left: 16px;}
.list--buttons a { display:inline-block; border-radius: 100%; -webkit-border-radius: 100%; box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15); width:36px; height:36px; text-align:center; line-height:36px; color:#666 !important; cursor:pointer; margin-top:12px; }
.list--buttons a.btn_backward { padding-right:5px;}
.list--buttons a.btn_playpause { width:60px; height:60px; line-height:60px; font-size:30px; margin-top:0px; padding-left:7px; }
.list--buttons a.btn_forward { padding-left:5px;}

.list--buttons li:hover a { color:#f00 !important;}

.list--buttons a.btn_playpause.play{ color:#f00 !important;}
.list--buttons a.btn_playpause.pause{ padding-left:0px;}
.list--buttons a.btn_playpause.pause .fa-play:before{ content: "\f04c";}

.comments-container { margin: 60px auto 15px;   width: 100%;}
.comments-list { width: 100%;  float: left; margin-top: 10px;position: relative;     padding-left: 0px;}

/**
 * Lineas / Detalles
 -----------------------*/
/* .comments-list:before { content: ''; width: 2px; height: 100%; background: #c7cacb; position: absolute; left: 32px; top: 0;} */
.comments-list:after { content: ''; position: absolute; background: #c7cacb; bottom: 0; left: 27px; width: 7px; height: 7px; border: 3px solid #dee1e3;	-webkit-border-radius: 50%; -moz-border-radius: 50%;border-radius: 50%;}
.reply-list:before,.reply-list:after{display:none}
/* .reply-list li:before{content:'';width:60px;height:2px;background:#c7cacb;position:absolute;top:25px;left:-55px} */
.comments-list li{margin-bottom:15px;display:block;position:relative}
.comments-list li:after{content:'';display:block;clear:both;height:0;width:0}
.reply-list{padding-left:88px;clear:both;margin-top:15px}
.comments-list .comment-avatar{width:65px;height:65px;position:relative;z-index:99;float:left;border:3px solid #FFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);overflow:hidden}
.comments-list .comment-avatar img{width:100%;height:100%}
.reply-list .comment-avatar{width:50px;height:50px}
.comment-main-level:after{content:'';width:0;height:0;display:block;clear:both}
.comments-list .comment-box{width:calc(100% - 80px);float:right;position:relative;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.15);-moz-box-shadow:0 1px 1px rgba(0,0,0,.15);box-shadow:0 1px 1px rgba(0,0,0,.15)}
.comments-list .comment-box:before,.comments-list .comment-box:after{content:'';height:0;width:0;position:absolute;display:block;border-width:10px 12px 10px 0;border-style:solid;border-color:transparent #FCFCFC;top:8px;left:-11px}
.comments-list .comment-box:before{border-width:11px 13px 11px 0;border-color:transparent rgba(0,0,0,.05);left:-12px}
/* .reply-list .comment-box{width:610px} */
.comment-box .comment-head{background:#FCFCFC;padding:10px 12px;border-bottom:1px solid #E5E5E5;overflow:hidden;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.comment-box .comment-head i{float:right;margin-left:14px;position:relative;top:2px;color:#A6A6A6;cursor:pointer;-webkit-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease}
.comment-box .comment-head i:hover{color:#03658c}
.comment-box .comment-name{color:#283035;font-size:14px;font-weight:700;float:left;margin-right:10px}
.comment-box .comment-name a{color:#283035}
.comment-box .comment-head span{float:left;color:#999;font-size:13px;position:relative;top:1px}
.comment-box .comment-content{background:#FFF;padding:12px;font-size:15px;color:#595959;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.comment-box .comment-name.by-author,.comment-box .comment-name.by-author a{color:#03658c}
.comment-box .comment-name.by-author:after{content:'autor';background:#03658c;color:#FFF;font-size:12px;padding:3px 5px;font-weight:700;margin-left:10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}



/**********************************************/
.leftSideBar #AgentCall table thead th { font-size:14px;}
.leftSideBar #AgentCall table tbody td { font-size:14px;}

/****************************************************/
.topBack{ position: fixed;  right: 10px;   bottom: 10px;  background: rgba(255, 255, 255, 0.72);  width: 40px;  text-align: center;  height: 40px;  line-height: 34px;  font-size: 30px;  border-radius: 100%;  cursor: pointer;  z-index: 1; box-shadow: 0px 0px 4px rgba(0,0,0,0.5); color: #020202;}
.topBack:hover{background-color:#00b5e6; color:#fff;}
.header { width: 100%; background-color: #fff; padding: 10px 0; box-sizing: border-box; position:relative;}
.header .logoWrap { float:left;}
.header .logoWrap img { display: inline-block;   height: 40px;}
.userInfoBox { float: right; padding: 10px 0;}
.signout { padding: 0 5px;}

.formBoxWrap .BtnFormSearch{ background-color:#38cfea; color:#fff; cursor:pointer; width:100%; max-width:180px; float:left; border:0px; text-transform:uppercase; height:50px; line-height:50px; border-radius:5px; -webkit-border-radius:5px; font-weight:600; transition:all 0.2s linear; margin:10px 0px; margin-right:20px;}
.formBoxWrap .BtnFormSearch:hover{background-color:#7c7c7c;}

.FormOutterBoxWrap { padding: 10px; margin-right: auto; margin-left: auto; max-width: 100%; background: #fff; border-radius: 0.25rem; box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.19), 0 6px 6px -10px rgba(0, 0, 0, 0.23); float: left; width: 100%; margin: 10px 0px; padding-bottom:20px;}
.ContentInnerWrap { float: left; width: 100%; background: #f4f4f4; border-radius: 5px; -webkit-border-radius: 5px; padding: 15px; margin: 30px 0px; color: #333; box-sizing:border-box;}

.FormOutterBoxWrap ul, .FormOutterBoxWrap  ol, .FormOutterBoxWrap  li, .formBoxWrap ul, .formBoxWrap li { list-style: none; }
.formBoxWrap{ width:100%; float:left; margin:30px 0px; padding-left:0px;}
.formBoxWrap li{ width:25%; float:left; padding:10px; box-sizing: border-box;}
.formBoxWrap li.halfWrap{ width:50%; float:left; padding:10px; box-sizing: border-box;}

.formBoxWrap li label{width:100%; float:left; font-size:14px; color:#515151; text-transform:uppercase; line-height:30px; box-sizing:border-box; font-weight:400;  margin-bottom:0px;}
.formBoxWrap li label span{ font-size:14px; color:#ff0000;}
.formBoxWrap li .inputTypeTxt{ border:1px solid #dadada; border-radius:5px; -webkit-border-radius: 5px; height:50px; padding:5px 10px; box-sizing:border-box; color:#666; width:100%; float:left;}
.formBoxWrap li textarea.inputTypeTxt{ height:150px; line-height:24px; font-size:14px; resize:none;}

.SurveyFormWrap{ margin:0px;}
.SurveyFormWrap.formBoxWrap li{ width:50%;}
.SurveyFormWrap.formBoxWrap li.width_70{ width:70%;}
.SurveyFormWrap.formBoxWrap li.width_30{ width:30%;}
.SurveyFormWrap.formBoxWrap li:nth-child(2n+1){ clear:both;}
.SurveyFormWrap li > label{ line-height:18px; padding:6px 0px; letter-spacing:0.5px;}
.SurveyFormWrap li.YesNoWrap_list{ padding-right:20px;}
.SurveyFormWrap li:nth-child(2n).YesNoWrap_list{ padding-right:10px; padding-left:20px;}
.SurveyFormWrap li.YesNoWrap_list > label{ min-height:48px;}
.SurveyFormWrap li .inputTypeTxt{ height:44px;}
.SurveyFormWrap li textarea.inputTypeTxt{ height:120px;}
.SurveyFormWrap .YesNoWrap_Table .inputTypeTxt { height: 38px;}
.SurveyFormWrap.formBoxWrap .BtnFormSearch{ height:44px; line-height:44px; margin:0px;}
.FormInnerBox{ background-color:#fdfdfd; width:100%; float:left; padding:10px; box-sizing:border-box; margin:10px 0px;}
.title_h4{ width:100%; float:left; font-size:18px; position:relative; padding:8px 0px; padding-left:10px; font-weight:normal; color:#444; text-transform:uppercase; box-sizing:border-box; margin:5px 0px;}
.title_h4:before{ content:''; position:absolute; left:10px; bottom:0px; width:70px; height:2px; background-color:#00b5e6; }
.text_p1{ width:100%; float:left; font-size:14px; padding:10px; box-sizing:border-box; color:#aaa; margin-bottom:0px;}
.text_p2{ width:100%; float:left; font-size:14px; padding:5px 0px; box-sizing:border-box; color:#aaa; margin-bottom:0px;}

.SurveyFormWrap .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:44px;     font-size: 14px ;}
.SurveyFormWrap .select2-container--default .select2-selection--single{ border: 1px solid #dadada; height: 44px; border-radius:5px;}
.SurveyFormWrap .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 44px; }

.SurveyFormWrap .YesNoBox{ width:100%; float:left; background-color:#e6e6e6; height:44px; border-radius:40px; -webkit-border-radius:40px;}
.SurveyFormWrap .YesNoBox label{ width:33.33%; border-right:1px solid #d1d1d1; float:left; box-sizing:border-box; position:relative; background-color:#e6e6e6; font-size:14px; color:#949494; height:44px; font-weight:400; line-height:44px; text-align:center; text-transform:uppercase;  transition:all 0.2s linear; cursor:pointer;}
.SurveyFormWrap .YesNoBox label:first-child{ border-radius:40px 0px 0px 40px; -webkit-border-radius:40px 0px 0px 40px;}
.SurveyFormWrap .YesNoBox label:last-child{ border-right:0px; border-radius:0px 40px 40px 0px; -webkit-border-radius:0px 40px 40px 0px;}
.SurveyFormWrap .YesNoBox label.active{ background-color:#f3090f; color:#fff;}
.SurveyFormWrap .YesNoBox label:first-child.active{ background-color:#8caa24; color:#fff;}
.SurveyFormWrap .YesNoBox label:last-child.active{ background-color:#f3a309; color:#fff;}

.SurveyFormWrap li.YesNoWrap_Table{ width:100%;}
.SurveyFormWrap li .YesNoTable{ width:100%; float:left; box-sizing:border-box;}
.YesNoTable table{ width:100%; box-sizing:border-box; border-spacing: 0px; border-collapse: separate;}

.YesNoTable table thead th{ font-size:14px; background-color:#666; color:#fff; font-weight:500; padding:10px; text-align:center;}
.YesNoTable table thead th:first-child{ text-align:left;}
.YesNoTable table thead th label{ font-weight:600; padding-left:5px; color:#fff; line-height:18px;}
.YesNoTable table tbody th{ font-size: 13px; color: #a9a9a9; padding:5px; font-weight:normal; padding-left:15px; width:70%;}
.YesNoTable table tbody td{ font-size:14px; color:#777; padding:5px; font-weight:normal;}

.YesNoTable.withComments table tbody th{ width:44%;}
.YesNoTable.withComments table tbody td:last-child{ width:30%;}
.YesNoTable table tbody th, .YesNoTable table tbody td{ background-color:#ffffff;}
.YesNoTable table tbody tr:nth-child(2n) th, .YesNoTable table tbody tr:nth-child(2n) td{ background-color:#f1f1f1;}

.CustomRadioBox{ position:relative; display:inline-block;}
.CustomRadioBox .inputStyle{ width:20px; height:20px; border:1px solid #ccc; border-radius:100%; -webkit-border-radius:100%; margin-top:5px; z-index:2; position:relative; -webkit-appearance:none; outline:none;   }
.CustomRadioBox .checkedTick {position:absolute;left: 3px;top: 8px;z-index:1;font-size:16px;color:#00b5e6;opacity:0;background-color: #00b5e6;width: 14px;height: 14px;border-radius: 100%;}
.CustomRadioBox input[type=radio]:checked ~ .checkedTick{ opacity: 1; }
.CustomRadioBox .checkedTick .fa { opacity: 0;}

.FinalTxtWrap{ width:100%; float:left; font-weight:600; font-size:24px; line-height:36px;}
.finalScoreWrap{width:100%;float:left;text-align:center;background:#505050;height:120px; box-sizing:border-box;padding:30px;font-size:70px;border-radius:5px; line-height:60px; color:#fff}

.switchBtn { position: relative; display: inline-block; width: 60px; height: 30px; margin-top:5px;}
.switchBtn input {display:none;}
.slider {position: absolute;cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; -webkit-transition:.4s; transition: .4s; width:100%; height:100%; box-shadow: 0px 0px 3px rgba(0,0,0,0.3);}
.slider.round { border-radius: 34px;  -webkit-border-radius: 34px;}
.slider.round span{ position: absolute; width: 32px; height: 32px; background: #fff;  border-radius: 100%;  top: -1px;  left: 0px;  color: #797979; text-align: center;  line-height: 32px;  font-size: 18px;   box-shadow: 0px 0px 4px rgba(0,0,0,0.3); -webkit-transition:.4s; transition: .4s;}
.slider.round span .fa-times:before{-webkit-transition:.4s; transition: .4s;}
.switchBtn.IsChecked .slider.round span .fa-times:before{content: "\f00c"; }
.switchBtn.IsChecked .slider.round span {left:28px;}
.switchBtn.IsChecked .slider.round { background-color:#17a2b8;}

.SurveyFormWrap.formBoxWrap li.SubQuestionWrap{ width:100%; float:left;}

.SubQuestionTable{ width:100%; float:left; box-sizing:border-box; border-spacing: 0px; border-collapse: separate;}
.SubQuestionTable thead th{ font-size:14px; background-color:#666; color:#fff; font-weight:500; padding:10px;}
.SubQuestionTable thead th label{ font-weight:600; padding-left:5px; color:#fff; line-height:18px;}
.SubQuestionTable tbody th{ font-size: 13px; color: #a9a9a9; padding:5px; font-weight:normal; padding-left:15px; width:70%;}
.SubQuestionTable tbody td{ font-size:14px; color:#777; padding:5px; font-weight:normal;}
.SubQuestionTable tbody th, .SubQuestionTable tbody td{ background-color:#ffffff;}
.SubQuestionTable tbody tr:nth-child(2n) th, .SubQuestionTable tbody tr:nth-child(2n) td{ background-color:#f1f1f1;}
.SubQuestionTable thead th:first-child, .SubQuestionTable tbody td:first-child{ width:120px;}
.SubQuestionTable thead th:nth-child(2), .SubQuestionTable tbody td:nth-child(2){ width:150px;}
.SubQuestionTable thead th:last-child, .SubQuestionTable tbody td:last-child{ width:120px;}
.SubQuestionTable thead th:first-child, .SubQuestionTable thead th:last-child{ text-align:center;}

.moveIconBox, .addIconBox, .deleteIconBox{ font-size:18px; display:inline-block; cursor:pointer; padding:5px;}
.moveIconBox { cursor:pointer;}
.moveIconBox:hover, .addIconBox:hover, .deleteIconBox:hover{ color: #38cfea;}

.SubQuestionWrap{ display:none;}



@media only screen and (max-width: 2400px) and (min-width: 1000px)
{
	.container { max-width: 99%; }
}